# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente / credenciais
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Arquivos temporários
*.tmp

infraestrutura/config_mercado_pago.py
criar_pos.ps1
